<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Товары' + ${user.username}"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="~{/layouts/header :: header}"></div>

<main class="container">
    <h1 th:text="Товары + ${user.username}"/>
    <div class="items" th:if="${!items.isEmpty()}">
        <div th:each="item : ${items}">
                <img th:src="${item.image}" th:alt="${item.title}">
                <h3 th:text="${item.title}" />
                <p th:text="${item.info}" />
                <span th:text="${item.price} + р." />
        </div>
    </div>
    <div th:if="${items.isEmpty()}" class="block">
        <p>Нет товаров</p>
    </div>
</main>

<div th:replace="~{/layouts/footer :: footer}"></div>
</body>
</html>