<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Кабинет пользователя</title>
    <link rel="stylesheet" th:href="|@{/main.css}|">
</head>
<body>
<div th:replace="~{/layouts/header :: header}"></div>

<main class="container">
    <h1>Кабинет пользователя</h1>
    <p>Привет <span sec:authentication="name"/></p>
    <form method="post" th:action="@{/user/update}">
        <input type="text" name="username" th:value="${user.username}">
        <input type="text" name="email" th:value="${user.email}">
        <input type="password" name="password" th:value="${user.password}"> <br>
        <select name="roles">
            <option value="ADMIN" th:selected="${user.roles == 'ADMIN'}">ADMIN</option>
            <option value="USER" th:selected="${user.roles == 'USER'}">USER</option>
            <option value="REDACTOR" th:selected="${user.roles == 'REDACTOR'}">REDACTOR</option>
        </select>

        <br>
        <button type="submit">Изменить</button>
    </form>

    <form method="post" th:action="@{/logout}">
        <button type="submit">Выйти</button>
    </form>
</main>

<div th:replace="~{/layouts/footer :: footer}"></div>
</body>
</html>